:root {
	--BannerTopPercentage: 32%;
	--FullRadiusGradient: linear-gradient(90deg, rgba(25,17,66,1) 0%, rgba(74,25,83,1) 51%, rgba(35,88,105,1) 100%);
	--FullRadiusBorderedGradient: linear-gradient(0deg, rgba(25,17,66,1) 0%, rgba(74,25,83,1) 10%, rgba(74,25,83,1) 50%, rgba(35,88,105,1) 100%);
	--PartRadiusGradient: linear-gradient(90deg, rgba(55,19,70,1) 0%, rgba(74,25,83,1) 71%, rgba(50,30,90,1) 100%);
	--ContentBorderRadius: 1vmin;
}

/* Common clearing commands */
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	-webkit-text-size-adjust: 100%;
}
html, body {
    width: 100%;
    height: 100%;
}
body {
	line-height: 1.25;
}

/* Link underscore and highlight behavior */
a{
	text-decoration: none;
}
a:link {
	color: #000; /*text before visited*/
	text-decoration: none;
}
a:visited {
	color: #000; /*text after visited*/
	text-decoration: none;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}

/* Site wide font */
body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Keeping footer in the bottom of the window */
main {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
article {
	flex-grow: 1;
	background-color: #FFF;
}
header, main, footer {
	flex-shrink: 0;
}
footer{
	z-index: 1;
}

/* Banner */
.topBanner{
	z-index: -3;	
}

.middleBannerImage{
	z-index: -3;
	width: 42%;
	height: 30%;
	margin: auto;
	position: relative;
	top: var(--BannerTopPercentage);
}

/* Article */
article{
	background: rgba(0,0,0,0);
	padding: 4.7vw 5.5vw 9.5vmax 5.5vw;
}

/* Background pattern */
.articleStaticBG{
	z-index: -2;
	position:absolute;
	user-select: none;
	left: 0;
	right: 0;
	background-color: #000;
	background-image: url(../Pictures/patterns/Trippy.jpg);
	background-size: 26.7vw;
	background-repeat: repeat;
	background-position-x: calc(   -4vw);/* -4vw */
	background-position-y: calc(9.475vw); /* 2.8vw  9.475vw 13.35vw */
}

.articleBGAlter{
	z-index: -2;
	position:absolute;
	user-select: none;
	left: 0;
	right: 0;
	background-image: url(../Pictures/patterns/Trippy.jpg);
	background-size: 26.7vw;
	background-repeat: repeat;
	background-position-x: calc(   -4vw + 13.35vw);
	background-position-y: calc(9.475vw + 13.35vw);
	animation-duration: 19.31s;
	animation-name: visionToggle;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.55,.25,.74,.4);
}
.articleBGAlter2{
	z-index: -2;
	position:absolute;
	user-select: none;
	left: 0;
	right: 0;
	background-image: url(../Pictures/patterns/Trippy.jpg);
	background-size: 26.7vw;
	background-repeat: repeat;
	background-position-x: calc(   -4vw + 6.675vw);
	background-position-y: calc(9.475vw - 6.675vw); 
	animation-duration: 17.33s;
	animation-name: visionToggle2;
	animation-iteration-count: infinite;
	/* animation-timing-function: cubic-bezier(.66,.48,.27,.76); */
}


.articleSecondBG{
	z-index: -1;
	position:absolute;
	user-select: none;
	left: 0;
	right: 0;
	background-image: url(../Pictures/patterns/Trippy.jpg);
	background-size: 26.7vw;
	background-repeat: repeat;
	background-position-x: calc(   -4vw - 13.35vw);
	background-position-y: calc(9.475vw);
	animation-duration: 13.19s;
	animation-name: disappear;
	animation-iteration-count: infinite;
	/* animation-timing-function: cubic-bezier(.77,.36,.32,.91); */
}
.articleSThirdBG{
	z-index: -1;
	position:absolute;
	user-select: none;
	left: 0;
	right: 0;
	background-image: url(../Pictures/patterns/Trippy.jpg);
	background-size: 26.7vw;
	background-repeat: repeat;
	background-position-x: calc(   -4vw - 6.675vw);
	background-position-y: calc(9.475vw - 6.675vw);
	animation-duration: 10.97s;
	animation-name: disappear2;
	animation-iteration-count: infinite;
	/* animation-timing-function: cubic-bezier(.15,.69,.31,.31); */
}

@keyframes visionToggle {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes visionToggle2 {
	0% {
		opacity: 0.5;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
@keyframes disappear {
	0% {
		opacity: 0.2;
	}
	40% {
		opacity: 1.0;
	}
	90% {
		opacity: 0.0;
	}
	100% {
		opacity: 0.2;
	}
}
@keyframes disappear2 {
	0% {
		opacity: 0.75;
	}
	37.5% {
		opacity: 0.0;
	}
	87.5% {
		opacity: 1.0;
	}
	100% {
		opacity: 0.75;
	}
}

.mainSlogan{
	background: rgb(25,17,66);
	background: linear-gradient(0deg, rgba(46,37,66,1) 0%, rgba(74,39,83,1) 10%, rgba(50,29,63,1) 100%);
	color: #FFF;
	text-align: center;
	border-radius: var(--ContentBorderRadius);
	padding: 2.2vmin;
	margin: auto;
	width: 75vmin;
	margin-bottom: 4.2vh;
	font-size: 3.1vmin;
}

.content{
	border-radius: var(--ContentBorderRadius);
	padding: 0.6vmin;
	background: rgb(25,17,66);
	background: var(--FullRadiusBorderedGradient);
}

.test{
	background-color: #DDD;
	background-blend-mode: color-burn;
	padding-top: 3vw;
	padding-left: 4vw;
	padding-right: 4vw;
	height: 20vh;
	font-size: 2.4vmin;
	height: auto;
}
.test:first-child{
	border-top-left-radius: var(--ContentBorderRadius);
	border-top-right-radius: var(--ContentBorderRadius);
	padding-top: 2vmin;
}
.test:last-child{
	border-bottom-left-radius: var(--ContentBorderRadius);
	border-bottom-right-radius: var(--ContentBorderRadius);
	padding-bottom: 2vmin;
}

.contentImage{
	width: 100%;
}

p.contentQuote{
	font-size: 2vmin;
	font-style: italic;
	margin-bottom: 0.5vmin;
	margin-top: 0.5vmin;
}

.demoAvailable{
	margin-top: 5vh;
	margin-left: 3%;
	padding: 0.5vw 0vw 0.6vw 4.4vw;
	width: 55%;
	text-align: left;
	border-style: double;
	border-width: 0.3vw;
	border-radius: 1vw;
	border-color: rgba(120,170,90,1);
	background: linear-gradient(41deg, rgba(50,70,20,1) 0%,  rgba(50,140,63,1) 100%);
	color: #FFF;
	font-size: 3vw;
	user-select: none;
}

.longBreak{
	padding-top: 11vw;
}

/* Carousel */
.carousel-indicators{
	bottom: calc(-1.55vh + -1.55vw);
}

.carousel-indicators li{
	width: 1.1vw;
	height: 1.1vw;
	border-radius: 100%;
	margin-right: 0.4vw;
	border-color: #555;
}
.carousel-indicators .active{
	width: 1.1vw; 
	height: 1.1vw;
	border-radius: 100%;
	margin-right: 0.4vw;
	background-color: #424;
}
span.glyphicon {
	font-size: 2.6vw !important;
}
