:root {
	--BannerTopPercentage: 22%;
}

topBanner {
	background: url(../Pictures/Banner/OilPaintDark.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 32vw;
	top: 0;
}

.MiddleBannerImage{ /* Image adding forces image setting to resets, have to declare settings here */
	background: url(../Pictures/Logo/BattleMagicians.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 50%;
	height: 35%;
}
